<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/article_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="header__container">
                тут будуть посилання на інші сторінки сайту
            </div>
        </div>

    <div class="body">
        <div class="body__container">
            <div class="content">
                <div class="title">
                    <p class="post-info"><span>Дата</span> перегляди <a href="">Автор</a></p>
                    <h1>Заголовок</h1>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque beatae corporis esse soluta sit. Praesentium, harum quos temporibus, quas dignissimos soluta corrupti error perferendis eligendi perspiciatis dolorem quae asperiores reiciendis!
                Nam numquam expedita ullam consectetur similique magni reiciendis totam tenetur et hic voluptates debitis, odit, repellat, unde eveniet? Veritatis ut itaque distinctio fugiat qui, cumque odit dolores accusamus minima sunt!
                Maxime tempore, doloribus, ducimus sapiente id veritatis quidem facere totam, quia eaque quas culpa cum dolore sit dolorem magnam accusantium laudantium! Recusandae beatae, quisquam a enim assumenda repellendus esse magnam?
                Voluptate explicabo facere eveniet eius quos accusamus natus odio veritatis, sit neque incidunt quaerat earum eligendi deleniti officia! Hic maxime aspernatur itaque quasi odit laborum aperiam repellat officiis vitae illum.
                Maiores neque numquam fuga nulla ab quis quo, est aperiam doloribus consequatur possimus obcaecati illo dignissimos facere eos a dolorum beatae ducimus ex molestias quae voluptas voluptatem rem! Id, unde.
                Cumque laudantium fugiat, distinctio quas a repellendus quod corrupti aspernatur sapiente velit, iure adipisci architecto nulla maiores corporis magni modi accusantium reiciendis. Officia, sunt! Exercitationem veritatis soluta rem impedit et.
                Ex nobis aperiam voluptates, porro optio earum dolore nihil adipisci unde, et voluptatem veniam esse culpa commodi. Non corrupti quas quae laudantium, debitis repudiandae beatae, temporibus eveniet, itaque ipsum aperiam?
                Illum ut quos laudantium ullam repellendus recusandae nesciunt ipsa tempore sed corporis inventore facilis, adipisci nobis odio labore magnam voluptatem perferendis! Blanditiis beatae, quidem veniam magni consequatur totam nostrum temporibus?
                Aspernatur, quae dolorem iusto dolorum necessitatibus ad. Blanditiis ipsa non in hic, porro ab eaque suscipit atque numquam eius dolorum pariatur aperiam alias dicta animi iure consequuntur voluptatum adipisci? Facere?
                Laborum, suscipit nam quisquam maiores sint iure at, mollitia ut dolore exercitationem provident. Non commodi delectus alias nobis aliquid quas omnis ipsa cum quae, esse labore in corporis velit beatae!
                Inventore eos porro laboriosam molestias nemo eveniet, ratione quis neque iste quod quibusdam aperiam reiciendis iusto harum est eaque animi. Necessitatibus tempore natus, quisquam optio aliquid sit hic maxime dolorem.
                Obcaecati illum dicta aliquam nesciunt nihil nemo facere dignissimos, deleniti odit consequuntur eligendi. Soluta illum, aut nihil repudiandae vel quos delectus obcaecati culpa iusto dolorum natus, at libero, minus modi!
                Itaque doloribus quae quam totam! Inventore, ipsa libero tempore tenetur illo ea fugiat dignissimos iste voluptas maxime deleniti numquam obcaecati officia recusandae beatae odio? Debitis officiis tempore nam dolorem saepe!
                Consequatur, laboriosam illo, accusamus porro sit alias accusantium praesentium inventore quis quae reprehenderit iusto exercitationem corporis hic debitis nisi molestias officiis asperiores harum nulla ad omnis nobis cupiditate neque. Dignissimos!
                Mollitia nisi eius quae quis. Et minima a, praesentium reprehenderit esse assumenda excepturi iusto? Doloremque dolorem veritatis consequatur blanditiis magnam temporibus ipsa, eos recusandae aperiam repudiandae numquam natus est atque.
                Obcaecati atque necessitatibus, vitae est nesciunt minima ipsam, porro temporibus ullam veritatis blanditiis, quia quasi totam fuga qui distinctio! Fuga saepe earum nobis quia laborum mollitia rerum facilis enim. Libero.
                Ducimus nulla at assumenda accusamus ad hic illo incidunt, voluptatibus consequuntur perferendis error libero consectetur cupiditate pariatur illum est. Odio molestias qui nostrum numquam fugit ab asperiores. Eaque, quis recusandae?
                Qui nostrum libero architecto, rerum magni minus distinctio exercitationem ut quibusdam consequatur enim fugiat natus quaerat cupiditate fuga laborum eum inventore vero nulla error aspernatur maxime? Exercitationem praesentium unde eius.
                Animi ex accusantium quisquam atque officiis dolores vitae facilis cumque quidem vero. Optio perferendis ipsam cum, quos laboriosam dolore veritatis, ex aut quo deleniti a praesentium nemo non id odio.
                Nobis eius assumenda, dicta eos, error, dolor voluptate vitae aliquam consequatur rem est obcaecati consectetur non praesentium! Assumenda illum harum, dolore iusto provident hic, quae dolor commodi eaque odit itaque.
                Ipsum minus error soluta adipisci illum dolore similique esse quaerat ab iure at eligendi corrupti ratione voluptates fugiat cupiditate, excepturi laborum. Adipisci sint, officiis a ducimus dolores cumque eius facilis!
                Magnam assumenda delectus nostrum qui debitis soluta esse iure nisi eligendi pariatur minima, velit nemo modi atque aspernatur. Quidem tempore, suscipit saepe quia vero incidunt excepturi quo temporibus doloremque maiores.
                Asperiores possimus sapiente magnam ad voluptatibus accusantium aspernatur inventore, atque libero eius non ducimus eveniet ut perferendis doloribus? Aliquam modi eveniet hic ea, ipsum explicabo iure. Atque fuga at harum!
                Rerum praesentium assumenda sed natus veniam qui numquam eum! Incidunt illo hic iste repellat expedita similique, dolore est atque, ut vitae aliquam exercitationem? Neque, debitis quae optio autem et minus.
                Enim, odio alias quidem ut perferendis cumque eligendi hic, facere voluptatem numquam, placeat impedit debitis odit vitae. Unde quis optio saepe quas ut adipisci a aliquid ex! Totam, tempora assumenda!
                Laborum ducimus rerum numquam voluptatem. At, aut tempore voluptates voluptatum, nobis possimus magnam nam labore debitis esse recusandae delectus rem maxime! Rem, voluptate tenetur rerum nam eos illo id? Porro.
                Quo dolorem laboriosam quasi placeat eos qui dolorum provident culpa. Qui impedit temporibus nam quos corrupti ipsam reprehenderit ut cumque. Dolores eius expedita similique quis. Voluptatibus delectus excepturi recusandae distinctio.
                Voluptates ipsa optio dolores sed nobis eos voluptatum ipsam enim. Odit commodi quis qui aliquid esse quaerat adipisci, maiores sunt sed placeat dicta modi dolores sint ratione error, laborum eligendi.
                Laborum necessitatibus laudantium inventore maiores repellendus temporibus soluta, ipsum nobis voluptates amet aperiam officia, possimus optio harum deleniti vel corrupti, quisquam sapiente unde quidem? Recusandae suscipit ea nulla. Nihil, ab.
                Totam quam id, vitae nihil esse non quia necessitatibus porro dolores quidem recusandae reiciendis facilis accusamus earum eligendi, libero, numquam atque reprehenderit? Error ipsa neque sed fugiat eius a unde?
                Vero assumenda nulla dignissimos sit, eius, perspiciatis voluptates, modi illo sint eum alias aspernatur in repellendus cum facere eos illum temporibus! Ipsam numquam pariatur quia. Quisquam repellendus vitae recusandae praesentium.
                Inventore culpa labore nostrum, quo autem officiis veritatis. Quasi nostrum ratione facere delectus id quod, neque in repellendus dolor suscipit ab qui et dolorum aliquid officiis sed quo consequuntur cumque.
                Laudantium vero neque error ipsum magnam ullam culpa nostrum ratione maxime accusamus recusandae quo nulla vitae ab, tempore voluptatem quos quibusdam consectetur animi architecto harum. Optio alias expedita omnis voluptatem!
                Corrupti ipsa veniam obcaecati incidunt laboriosam vel nesciunt ea ex officiis amet! Laboriosam possimus repellendus placeat dolorem error commodi reprehenderit at aliquam inventore deserunt deleniti vero mollitia quibusdam, quis aspernatur.
                Tenetur mollitia sint qui necessitatibus ducimus eligendi molestias in minus! Dolores numquam vel delectus quis, beatae similique cumque tempora ad, voluptate architecto facere deserunt perferendis quia voluptates, odit fugiat autem?
                Labore molestias consequuntur explicabo deserunt iusto sunt voluptates doloribus perspiciatis. Architecto voluptate rerum molestiae deserunt, quia magni expedita provident placeat corrupti nisi exercitationem repellat aliquam. Commodi, ad unde. Soluta, tempore.
                Officiis quis nesciunt fugit cupiditate error? Omnis ut dolorum temporibus asperiores voluptatum, mollitia sunt aut quia iusto, aliquid qui neque veritatis magni totam, ab explicabo non officiis beatae distinctio repellendus!
                Aliquid quos esse quae maxime ipsam velit facere. Rem maxime, unde numquam qui saepe sed! Hic maiores repellendus debitis nisi porro odio reprehenderit, harum rerum molestiae cupiditate fugit tempora nam?
                Animi natus, sit maxime sunt delectus dolor repudiandae quo, fugiat officia, quidem ut id deserunt officiis error similique. Voluptatibus, possimus hic? Rerum nobis accusamus quod, perspiciatis repellendus aliquam corporis vero.
                Repudiandae alias, quas ab mollitia quos non maiores saepe. Minus, possimus. Harum repudiandae tempore, autem et vero totam quia iste ad quaerat, incidunt iusto, laudantium amet debitis similique sunt veniam.</p>
                <div class="asnwers">
                    <h2>Коментарі</h2>
                    <ul>
                        <li>Дата <a href="">Автор</a><p>Текст</p></li>
                    </ul>
                </div>
            </div>
            <div class="sidebar">
                <h2>інші статті</h2>
                <p>тут будуть інші статті</p>
            </div>
        </div>
        
        
    </div>
</div>
</body>
</html>