<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/article_style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автор</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header__container">
                <a href="">Посилання 1</a>
                <a href="">Посилання 2</a>
                <a href="">Посилання 3</a>
                <a href="">Посилання 4</a>
            </div>
        </header>
        <main>
            <div class="main__container">
                <div class="author__info">
                    <p>Інформація про автора</p>
                </div>
            </div>
        </main>
        <footer></footer>
    </div>
</body>
</html>