<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/article_style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автор</title>
</head>
<body>
    <div class="wrapper">
         <header>
            <div class="nav">
                <a href="{% url 'home' %}">Головна</a>
            </div>
            <form class="search-form" id='search-form' action='/search' method="get">
                {% csrf_token %}
                <input type="text" id="search-input" placeholder="Введіть ваш пошуковий запит">
                <button type="submit">Пошук</button>
            </form>

            <script>
            document.getElementById("search-form").addEventListener("submit", function(event) {
                event.preventDefault();  // Зупинити відправлення форми

                var searchInput = document.getElementById("search-input").value;  // Отримати значення поля введення

                // Перенаправити на URL з введеним текстом як параметр запиту
                window.location.href = "/search?q=" + encodeURIComponent(searchInput);
            });
            </script>
            <div class="account">
                <a href="{% url 'myaccount' %}">
                    <div class="logo-img-container">
                        <img src="{{ logo_link }}" alt="">
                    </div>
                </a>
            </div>
         </header>
        <main>
            <div class="main__container">
                <div class="author__info">
                    <p>Інформація про автора</p>
                    <p>username: {{user.username}}</p>
                    <p>first name: {{ author.first_name }}</p>
                    <p>last name: {{ author.last_name }}</p>
                </div>
                <div class="post-list">
                    <h3>Статті автора</h3>
                    <ul>
                        {% for post in posts %}
                        <li><a href="{% url 'post_view' %}?post={{ post.id }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </main>
        <footer></footer>
    </div>
</body>
</html>