<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/article_style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Нова стаття</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header__container">
                <div class="nav">
                    <div class="home-link">
                        <a href="{% url 'home' %}">
                            <div class="main-logo-img-container">
                                <img src="static/img/logomak_logo.png" alt="">
                            </div>
                        </a>
                    </div>
                    <a href="{% url 'login' %}">Вхід</a>
                </div>
                <form class="search-form" id='search-form' action='/search' method="get">
                    {% csrf_token %}
                    <input type="text" id="search-input" placeholder="Введіть ваш пошуковий запит">
                    <button type="submit">Пошук</button>
                </form>

                <script>
                document.getElementById("search-form").addEventListener("submit", function(event) {
                    event.preventDefault();  // Зупинити відправлення форми

                    var searchInput = document.getElementById("search-input").value;  // Отримати значення поля введення

                    // Перенаправити на URL з введеним текстом як параметр запиту
                    window.location.href = "/search?q=" + encodeURIComponent(searchInput);
                });
                </script>
                <div class="account">
                    <a href="{% url 'myaccount' %}">
                        <div class="logo-img-container">
                            <img src="{{ logo_link }}" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </header>
        <main>
            <div class="main__container">
                <div class="content">
                    <div class="title">Новий пост</div>
                    <form class='post-form' method="post">
                        {% csrf_token %}
                        <div class="post-title">
                            <div class="post-lable">
                                <p>Назва</p>
                            </div>
                            <div class="post-form">
                                {{ form.title }}
                            </div>
                        </div>
                        <div class="post-short_description">
                            <div class="post-lable">
                                <p>Короткий опис статті</p>
                            </div>
                            <div class="post-form">
                                {{ form.short_description }}
                            </div>
                        </div>
                        <div class="post-content">
                            {{ form.content }}
                        </div>
                        <button type="submit">Створити</button>
                    </form>
                </div>
                <div class="sidebar">
                    <div class="sidebar-title">Інструкція</div>
                    <h3>### Заголовок</h3>
                    <code>```def some_code():<br>
                        return None```
                    </code>
                    <br>
                    <strong>**Жирний**</strong>

                </div>

            </div>

        </main>
        <footer>
            <div class="footer__container">
                <div class="contact">
                    <div class="contact-title">Зв'язок з нами</div>
                    <div class="contact-email"><a href="mailto:email@gmail.com">email@gmail.com</a></div>
                    <div class="contact-email"><p>+38 096 123 4123</p></div>
                </div>
                <div class="f_nav">
                    <div class="contact-title">Навігація</div>
                    <div class='f_nav_items'>
                        <a href="{% url 'login' %}">Вхід</a>
                        <a href="{% url 'new' %}">Реєстрація</a>
                        <a href="{% url 'create_post' %}">Створити статтю</a>
                        <a href="{% url 'myaccount' %}">Мій акаунт</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>