<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/article_style.css">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <div class='nav'>
                    <a href="#">Посилання 1 на інші сторінки сайту</a>
                    <a href="#">Посилання  24на інші сторінки сайту</a>
                    <a href="#">Посилання  3на інші сторінки сайту</a>
                    <a href="#">Посилання3 на інші сторінки сайту</a>
                </div>
            </div>
        </header>
        <main class="home">
            <div class="home__container">
                <div class="best-posts">
                    <h2>Популярні статті</h2>
                </div>
                <div class="last-posts">
                    <h2>Останні статті</h2>
                    <div class="posts-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eos saepe sed quibusdam, a aliquam doloribus magni officia quas perspiciatis. Blanditiis, quis? Minus fugit temporibus harum cupiditate qui dolorum explicabo!
                    </div>
                </div>
            </div>
        </main>
        <div class="footer">
            <div class="footer__container">
                sdfsdd
            </div>
        </div>
    </div>
</body>
</html>