<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/article_style.css">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <div class='nav'>
                    <a href="{% url 'login' %}">Вхід</a>
                    <a href="{% url 'new' %}">Реєстрація</a>
                    <a href="{% url 'create_post' %}">Створити статтю</a>
                </div>
            </div>
        </header>
        <main class="home">
            <div class="home__container">
                <div class="best-posts">
                    <h2>Популярні статті</h2>
                </div>
                <div class="last-posts">
                    <h2>Останні статті</h2>
                    <div class="posts-list">
                            {% for post in posts %}
                                <div class="post-preview">
                                    <a class='author-link' href="{% url 'author' %}?author={{ post.author.id }}">{{ post.author }}</a>
                                    <br>
                                    <br>
                                    <a href="{% url 'post_view' %}?post={{ post.id }}">{{ post.title }}</a>
                                </div>
                            {% endfor %}

                    </div>
                </div>
            </div>
        </main>
        <div class="footer">
            <div class="footer__container">
                sdfsdd
            </div>
        </div>
    </div>
</body>
</html>