<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background: #222;
            color: #bbb;
        }
    </style>
    <meta charset="UTF-8">
    <title>Вхід</title>
</head>
<body>
    <h1>Вхід</h1>
    	<form class='form' method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Увійти</button></form>
    <a href="https://t.me/blog_register_helper_bot">Вхід за допомогою телеграм бота</a>
    <div class='nav'>
        <a href="{% url 'home' %}">Головна</a>
        <a href="{% url 'new' %}">Реєстрація</a>
    </div>

</body>
</html>