<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background: #222;
            color: #bbb;
        }
    </style>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
</head>
<body>
    <h1>Реєстрація</h1>
    <form class='form' method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Зареєструватись</button></form>
    <a href="https://t.me/blog_register_helper_bot">Реєстрація за допомогою телеграм бота</a>
    <div class='nav'>
                    <a href="{% url 'login' %}">Вхід</a>
                    <a href="{% url 'home' %}">Головна</a>
                </div>

</body>
</html>